<div id="<%= dom_id class_course_slot %>">
  <p>
    <strong>Dep class:</strong>
    <%= class_course_slot.dep_class_id %>
  </p>

  <p>
    <strong>Teacher course:</strong>
    <%= class_course_slot.teacher_course_id %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= class_course_slot.slot_id %>
  </p>



</div>
