<%# <h1>Editing class course slot</h1>

<%= render "form", class_course_slot: @class_course_slot %>

<br>

<div>
  <%= link_to "Show this class course slot", @class_course_slot %> |
  <%= link_to "Back to class course slots", class_course_slots_path %>
</div> %>
