<h1>New class course slot</h1>
<p style="color: green"><%= notice %></p>

<%= render "form", class_course_slot: @class_course_slot,department: @department, dep_class: @class %>

<br>

<div>
  <%= link_to "Back to class course slots", department_dep_class_class_course_slots_path(@department,@class) %>
</div>
