<!--<h1>Editing dep class</h1>-->

<%#= render "form", dep_class: @dep_class %>

<!--<br>-->

<!--<div>-->
<!--  <%#= link_to "Show this dep class", @dep_class %> |-->
  <%#= link_to "Back to dep classes", dep_classes_path %>
<!--</div>-->
