<!--<p style="color: green"><%#= notice %></p>-->

<%#= render @dep_class %>

<!--<div>-->
<!--  <%#= link_to "Edit this dep class", edit_dep_class_path(@dep_class) %> |-->
  <%#= link_to "Back to dep classes", dep_classes_path %>

  <%#= button_to "Destroy this dep class", @dep_class, method: :delete %>
<!--</div>-->
