<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", department_course_path(course.department_id,course) %>
    </p>
  <% end %>
</div>

<%= link_to "New course", new_department_course_path %>
