<div class="ui  menu mt-3">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <a class="active item fs-3" style="height: 80px;width: 120px;">
    Home
  </a>
  <a class="item fs-3" style="height: 80px;width: 185px;">
    Departments
  </a>
  <a class="item fs-3" style="height: 80px;width: 120px;">
    Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
